    <link type="text/css" rel="stylesheet" href="/linker/styles/segment.css">
     <link type="text/css" rel="stylesheet" href="/linker/styles/button.css">
    <link type="text/css" rel="stylesheet" href="/linker/styles/form.css">
<div class="ui segment">
      <form class="ui fluid form segment" action="/project/create">
      <h3 class="ui header">Create a new Project</h3>
      <div class="two fields">
        <div class="field">
          <label>Name</label>
          <input placeholder="Name" type="text" name="pname">
        </div>
        <div class="field">
          <label>Small Description</label>
          <input placeholder="description" type="text" name="pdesc">
        </div>
      </div>
      <div class="field">
        <label>End date</label>
        <input placeholder="leave empty if not decided" type="date" name="enddate">
      </div> 
     
        
      </div>
      <button class="ui blue submit button">Submit</button>
    </form>
    </div>