!!! 5
html
	head
		title Jutja
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Raleway:200', rel='stylesheet', type='text/css')
		link(href="assets/css/bootstrap.css", rel="stylesheet")
		link(href="assets/css/bootstrap-responsive.min.css", rel="stylesheet")
		link(href="assets/css/main.css", rel="stylesheet")
		script(type='text/javascript')
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-42857759-1']);
			_gaq.push(['_setDomainName', 'jutja.com']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	body
		block content
		block scripts